
<% if current_user %>
  <h2><%= link_to 'Logout', sessions_path, :method => :delete %></h2>
  <h2><%= link_to 'Add Books', new_book_path %></h2>
  <h2><%= link_to 'Add Albums', new_album_path %></h2>
  <% else %>
<h2><%= link_to 'Register/Login', new_user_path %></h2>
<% end %>


