<h1>Welcome</h1>
<br>
<br>

<% if current_user %>
  <h1><%= link_to 'Logout', sessions_path, :method => :delete %></h1>
  <% else %>
<h1><%= link_to 'Register/Login', new_user_path %></h1>
<% end %>


