<h2>All Books</h2>
<% @books.each do |book| %>
<div class="item_listing">
  <ul>
  <li><a href='/books/<%= book.id %>'><%= book.name %></a></li>
<li><%= book.author %></li>
  </ul>
</div>
<br>
<% end %>